[submodule "tests/tests"]
	path = tests/tests
	url = https://github.com/ethereum/tests.git
	shallow = true
[submodule "core-contracts"]
	path = core-contracts
	url = https://github.com/plingatech/core-contracts.git
	shallow = true
	branch = feat-plgbft-release
